@mixin font($fsize: 14px, $lheight: 24px, $fweight: normal, $fcolor: $gray-font-color) {
  font: {
    family: $font-stack;
    size: $fsize;
    weight: $fweight;
  }
  line-height: $lheight;
  color: $fcolor;
}

@mixin clearfix() {
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centering() {
//  width: 280px;
//  margin: 0 auto;
//
//  @media (min-width: 700px) {
//    width: 620px;
//  }
//
//  @media (min-width: 1200px) {
//    width: 960px;
//  }
  margin: 0 auto;
  width: 87.5%;

  @media (min-width: 700px) {
    width: 88.7%;
    max-width: 940px;
  }
}

@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}
