@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centering {
  margin: 0 auto;
  width: 87.5%;

  @media (min-width: 700px) {
    width: 88.7%;
    max-width: 940px;
  }
}

@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}
