$font-stack: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$menuopen-bg-color: #283645;
$menuclose-bg-color: rgba(0, 0, 0, 0.3);
$thead-bg-color: #283645;
$download-bg-color: #1d2631;
$stripe-bg-color: #f2f2f2;
$green-btn-bg-color: #2aab6d;
$pink: #d22856;
$gray-font-color: #283645;
$black: #000;
$white: #fff;
$table-border-color: #e5e5e5;
