.btn {
  @include font(18px, 18px, bold, $pink);

  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  border: 3px solid $pink;
  border-radius: 28px;
  background-color: transparent;

  &--download {
    color: $white;
    border-color: $white;
  }

  &--upload {
    width: 100%;
    margin-bottom: 12px;
  }

  &--chancel {
    width: 100%;
    color: rgba($gray-font-color, 0.1);
    border-color: rgba($gray-font-color, 0.1);
  }
}

@media (min-width: 700px) {

}

@media (min-width: 1200px) {
  .btn {

    &--download {
      font-size: 21px;
    }

    &--upload,
    &--chancel
    {
      width: 180px;
      display: inline-block;
      vertical-align: top;
    }

    &--upload {
      margin-right: 42px;
    }
  }
}
