.btn {
  @include font(18px, 18px, bold, $pink);

  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  border: 3px solid $pink;
  border-radius: 28px;
  background-color: transparent;

  &:hover,
  &:active
  {
    outline: none;
  }

  &--download {
    color: $white;
    border-color: $white;

    &:hover {
      color: $pink;
      background-color: $white;
    }

    &:active {
      color: rgba($pink, 0.3);
      background-color: $white;
    }
  }

  &--upload {
    width: 100%;
    margin-bottom: 12px;

    &:hover {
      color: $white;
      background-color: $pink;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $pink;
    }
  }

  &--chancel {
    width: 100%;
    color: rgba($gray-font-color, 0.1);
    border-color: rgba($gray-font-color, 0.1);

    &:hover {
      color: rgba($gray-font-color, 0.3);
      border-color: rgba($gray-font-color, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);
      border-color: rgba($gray-font-color, 0);
      background-color: rgba($gray-font-color, 0.3);
    }
  }
}

@media (min-width: 700px) {
  .btn {
    &--upload {
      margin-bottom: 26px;
    }
  }
}

@media (min-width: 1200px) {
  .btn {

    &--download {
      font-size: 21px;
    }

    &--upload,
    &--chancel
    {
      width: 180px;
      display: inline-block;
      vertical-align: top;
    }

    &--upload {
//      margin-right: 42px;
      margin-bottom: 0;
    }
  }
}
