.btn {
  display: block;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: $pink;
  text-decoration: none;
  text-align: center;
  border: 3px solid $pink;
  border-radius: 28px;
  background-color: transparent;

  &:hover,
  &:active
  {
    outline: none;
  }

  &--download {
    color: $white;
    border-color: $white;

    @media #{$desktop} {
      font-size: 21px;
    }

    &:hover {
      color: $pink;
      background-color: $white;
    }

    &:active {
      color: rgba($pink, 0.3);
      background-color: $white;
    }
  }

  &--upload {
    width: 100%;
    margin-bottom: 12px;

    @media #{$tablet} {
      margin-bottom: 26px;
    }

    @media #{$desktop} {
      @include inline-block;

      margin-bottom: 0;
      width: 180px;
    }

    &:hover {
      color: $white;
      background-color: $pink;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $pink;
    }
  }

  &--chancel {
    width: 100%;
    color: rgba($gray-font-color, 0.1);
    border-color: rgba($gray-font-color, 0.1);

    @media #{$desktop} {
      @include inline-block;

      width: 180px;
    }

    &:hover {
      color: rgba($gray-font-color, 0.3);
      border-color: rgba($gray-font-color, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);
      border-color: rgba($gray-font-color, 0);
      background-color: rgba($gray-font-color, 0.3);
    }
  }
}
