.comment {
  margin: 0 auto;
  padding: 20px 18px;
  background-color: $stripe-bg-color;

  &__author {
    text-align: left;
  }

  &__author-name {
    @include font(14px, 24px, bold);

    color: $gray-font-color;
  }

  &__publication-time {
    @include font(12px, 24px, 300);

    color: $gray-font-color;
    text-transform: uppercase;
  }

  &__content {
    @include font();

    color: $gray-font-color;
    text-align: left;

    p {
      margin: 0;
      margin-bottom: 18px;
    }
  }

  &__likes {
    @include font();

    padding-left: 30px;
    color: $pink;
    text-transform: uppercase;
    text-align: left;
    background-image: url(../../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}
