.contacts {
  min-width: 320px;
  text-align: center;
  background-color: $white;

  @media #{$tablet} {
    margin-bottom: 2px;
  }

  @media #{$desktop} {
    margin-bottom: 36px;
  }
}

.contacts__information {
  @include centering;

  padding-top: 44px;
  padding-bottom: 36px;

  @media #{$tablet} {
    padding-top: 44px;
    padding-bottom: 22px;
  }

  @media #{$desktop} {
    padding-top: 72px;
    padding-bottom: 16px;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  @media #{$tablet} {
    margin-bottom: 44px;
    font-size: 40px;
    line-height: 50px;
  }

  @media #{$desktop} {
    margin-bottom: 58px;
    font-size: 50px;
    line-height: 58px;
    clear: both;
  }
}

.contacts__item {
  margin: 0;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet} {
    @include inline-block;

    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 44px;
    width: 48%;
    text-align: center;

    &--telephone {
      float: left;
    }

    &--email {
      float: right;
    }

    &--adress {
      clear: both;
    }
  }

  @media #{$desktop} {
    margin-bottom: 0;
    width: 32%;

    &:last-child {
      margin-right: 0;
    }
  }

  b {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    @media #{$tablet} {
      font-size: 18px;
      line-height: normal;
    }

    @media #{$desktop} {
      margin-bottom: 20px;
    }
  }
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
  color: $pink;

  &--mail {
    &:hover{
      color: $gray-font-color;
      text-decoration: underline;
    }

    &:active{
      color: rgba($gray-font-color, 0.3);
      text-decoration: none;
    }
  }

  @media #{$tablet} {
    line-height: normal;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  background-color: #edebe3;
  background-image:
    url('../img/icon-map-marker.svg'),
    url('../img/bg-map-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: 50% 50%, 50% 100%;
  background-size: auto, cover;

  @media #{$tablet} {
    height: 378px;
    background-image:
      url('../img/icon-map-marker.svg'),
      url('../../img/bg-map-tablet@1x.jpg');
    background-position: 63% 90%, 50% 0;
  }

  @media #{$desktop} {
    height: 500px;
    background-image:
      url('../img/icon-map-marker.svg'),
      url('../img/bg-map-desktop@1x.jpg');
    background-position: 58% 65%, 50% 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 36px;
    background: linear-gradient(to bottom right, $white 50%, transparent 50%);
    z-index: 12;

    @media #{$tablet} {
      height: 74px;
    }

    @media #{$desktop} {
      height: 104px;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(to bottom left, $white 50%, transparent 50%);
  }
}
