.contest-request {
  @include font(14px, 30px);

  color: $gray-font-color;

  &__title {
    @include font(14px, 18px);

    color: $pink;
    text-transform: uppercase;
  }

  &__label {
    @include font(18px, 30px);

    color: $gray-font-color;

    &--text {
      @include font(14px, 30px);

      color: $pink;
      text-transform: uppercase;
    }
  }

  &__text-field {
    @include font(18px, 30px);

    padding: 17px 20px;
    color: $gray-font-color;
    border: 2px solid $table-border-color;
  }

  &__travel-action {
    background-color: $stripe-bg-color;
  }

  &__pink-version {
    background-color: $stripe-bg-color;
  }

  &__note {
    @include font(14px, 30px);

    color: $gray-font-color;
  }

  &__star {
    color: $pink;
  }

  &__btn {
    @include font(18px, 30px, bold);

    padding: 18px 20px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: $green-btn-bg-color;
  }
}

@media (min-width: 700px) {

}

@media (min-width: 1200px) {

}
