.contest-request {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  line-height: 30px;

  @media #{$desktop} {
    @include centering;

    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
  }
}

.contest-request__slogan {
  @include centering;

  box-sizing: border-box;
  padding-top: 46px;
  padding-bottom: 32px;
  text-align: center;

  @media #{$tablet} {
    padding-top: 94px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
  }

  @media #{$desktop} {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 58px;
  }
}

.contest-request__please {
  display: none;

  @media #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    display: inline;
  }
}

.contest-request__fieldset {
  @include centering;

  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media #{$tablet} {
    padding: 0 58px;
    border: 2px solid $table-border-color;
  }

  @media #{$desktop} {
    width: 100%;
  }

  &--travel-action {
    padding-top: 58px;

    @media #{$tablet} {
      padding-top: 52px;
      padding-bottom: 4px;
    }

    @media #{$desktop} {
      margin: 0;
      padding: 50px 58px;
      padding-right: 50px;
      padding-bottom: 10px;
    }
  }

  &--contacts {
    @media #{$tablet} {
      padding-top: 46px;
      padding-bottom: 0;
    }

    @media #{$desktop} {
      margin: 0;
      padding-top: 42px;
    }
  }

  &--pink-version {
    padding-top: 52px;

    @media #{$tablet} {
      padding: 52px 57px;
      padding-bottom: 18px;
    }

    @media #{$desktop} {
      margin: 0;
      padding: 0 71px;
      padding-top: 54px;
      padding-bottom: 16px;
    }
  }

  &--story {
    padding-top: 26px;

    @media #{$tablet} {
      padding-top: 44px;
      padding-bottom: 36px;
    }

    @media #{$desktop} {
      margin: auto;
      padding: 42px 58px;
      padding-bottom: 28px;
    }
  }
}

.contest-request__flex {
  display: flex;
  flex-direction: column;

  @media #{$desktop} {
    &--travel-action {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: space-between;
      min-height: 166px;
    }

    &--contacts {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.contest-request__title {
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  padding: 0 24px;
  min-width: 280px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  transform: translate(-50%, -50%);

  @media #{$tablet} {
    padding: 0;
    min-width: 360px;
    background-color: $white;
  }
}

.contest-request__label {
  display: block;
  font-size: 18px;
  line-height: 30px;

  &--text {
    margin-bottom: 6px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
  }

  &--checkbox {
    position: relative;
    margin-bottom: 44px;
    padding: 4px 0;
    padding-left: 70px;

    @media #{$tablet} {
      padding-left: 60px;
    }

    @media #{$desktop} {
      box-sizing: border-box;
      max-width: 33%;

      &:nth-of-type(even) {
        order: 1;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(2) {
        padding-right: 26px;
      }

      &:nth-of-type(5) {
        padding-right: 5px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;
      border: 2px solid $table-border-color;
      background-color: $white;
      cursor: pointer;
    }

    &:hover::before {
      border-color: $gray-font-color;
    }

    &:active::before {
      border-color: $pink;
    }
  }

  &--radio {
    position: relative;
    margin-bottom: 38px;
    padding: 4px 0;
    padding-left: 70px;

    @media #{$tablet} {
      margin-bottom: 36px;
      padding-left: 60px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 2px solid $table-border-color;
      background-color: $white;
      cursor: pointer;
    }

    &:hover::before {
      border-color: $gray-font-color;
    }

    &:active::before {
      border-color: $pink;
    }
  }
}

.contest-request__contacts .contest-request__label {
  @media #{$desktop} {
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 26px;
    width: 40.2%;
  }
}

.contest-request__fullname .contest-request__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;

  @media #{$tablet} {
    flex-direction: row;
    align-items: center;
  }

  span {
    margin-bottom: 6px;
    padding-left: 22px;

    @media #{$tablet} {
      margin-right: 20px;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}

.contest-request__text-field {
  margin-bottom: 16px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 30px;
  color: $gray-font-color;
  border: 2px solid $table-border-color;
  resize: vertical;

  &:hover {
    outline: none;
    border-color: $gray-font-color;
  }

  &:focus {
    outline: none;
    border-color: $pink;
  }

  &--story {
    min-height: 170px;

    @media #{$tablet} {
      min-height: 160px;
    }

    @media #{$desktop} {
      min-height: 96px;
    }
  }
}

.contest-request__fullname .contest-request__text-field {
  @media #{$tablet} {
    flex-grow: 1;
    min-width: 75%;
    margin: 29px 0;
    margin-bottom: 26px;
  }

  @media #{$desktop} {
    min-width: 60%;
    margin: 29px 0;
    margin-bottom: 24px;
  }
}

.contest-request__contacts .contest-request__text-field {
  @media #{$desktop} {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 45.8%;
  }
}

.contest-request__fullname {
  @include centering;

  display: flex;
  flex-direction: column;
  padding-bottom: 38px;

  @media #{$tablet} {
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 11px;
    padding-bottom: 0;
  }

  @media #{$desktop} {
    align-content: space-between;
    margin-left: 0;
    margin-bottom: 32px;
    padding: 0;
    width: 46.2%;
  }
}

.contest-request__checkbox,
.contest-request__radio {
  display: none;
}

.contest-request__travel-action {
  padding-top: 48px;
  padding-bottom: 5px;
  background-color: $stripe-bg-color;

  @media #{$tablet} {
    order: 3;
    padding-top: 12px;
    background-color: $white;
  }

  @media #{$desktop} {
    padding-bottom: 0;
    width: 100%;
  }
}

.contest-request__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 42px;

  @media #{$tablet} {
    order: 2;
    padding-top: 8px;
    padding-bottom: 54px;
  }

  @media #{$desktop} {
    width: 100%;
  }

  legend {
    display: none;

    @media #{$tablet} {
      display: block;
    }
  }

  input {
    @media #{$tablet} {
      box-sizing: border-box;
      height: 62px;
      padding-right: 60px;
      margin-bottom: 10px;

    }

    &[id='email'] {
      @media #{$tablet} {
        order: 2;
      }

      @media #{$desktop} {
        order: 1;
      }
    }
  }

  label {
    @media #{$tablet} {
      position: relative;
      margin-bottom: 28px;

      &::before {
        content: '';
        position: absolute;
        top: -70px;
        right: 2px;
        width: 60px;
        height: 58px;
        background-color: $table-border-color;
      }
    }

    &[for='telephone'] {

      @media #{$tablet} {
        order: 1;

        &::before {
          background-image: url('../img/icon-phone.svg');
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }

      @media #{$desktop} {
        order: 2;
      }
    }

    &[for='email'] {
      @media #{$tablet} {
        order: 3;

        &::before {
          background-image: url('../img/icon-mail.svg');
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }

      @media #{$desktop} {
        order: 3;
      }
    }
  }
}

.contest-request__pink-version {
  padding-top: 50px;
  background-color: $stripe-bg-color;

  @media #{$tablet} {
    padding-top: 36px;
    padding-bottom: 60px;
    order: 1;
    background-color: $white;
  }

  @media #{$desktop} {
    display: flex;
    margin: 0;
    margin-right: 0;
    margin-bottom: 32px;
    padding-top: 18px;
    padding-bottom: 25px;
    width: 46.2%;
  }
}

.contest-request__story {
  padding-top: 70px;
  padding-bottom: 28px;

  @media #{$tablet} {
    order: 4;
    padding-top: 60px;
    padding-bottom: 66px;
  }

  @media #{$desktop} {
    padding-top: 66px;
    padding-bottom: 64px;
    width: 100%;
  }
}

.contest-request__btns {
  @include centering;

  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    order: 5;
    flex-direction: row;
    margin-bottom: 52px;
  }

  @media #{$desktop} {
    margin: 0;
    margin-bottom: 34px;
    width: 100%;
  }
}

.contest-request__note {
  display: block;
  align-self: center;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  @media #{$tablet} {
    padding-bottom: 0;
  }
}

.contest-request__star {
  color: $pink;
}

.contest-request__note-expand {
  display: none;

  @media #{$desktop} {
    display: inline;
  }
}

.contest-request__btn {
  margin-bottom: 34px;

  @media #{$tablet} {
    margin-right: auto;
    margin-bottom: 0;
    width: 300px;
  }
}

input[class*='checkbox']:checked + label[class*='checkbox']::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 19px;
  width: 16px;
  height: 8px;
  border: 2px solid $pink;
  border-top: none;
  border-right: none;
  transform: translateX(-50%) rotate(-45deg);
}

input[class*='radio']:checked + label[class*='radio']::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $pink;
}
