.copyright {
  line-height: 34px;

  @media #{$desktop} {
    font-size: 18px;
  }
}

.copyright span {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.copyright__link {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 34.1px;
  fill: $pink;

  &:hover {
    fill: $gray-font-color;
  }

  &:active {
    fill: rgba($gray-font-color, 0.3);
  }
}
