.download-links {
  margin-top: 34px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @media #{$tablet} {
    margin-top: 46px;
    margin-bottom: 36px;
  }

  @media #{$desktop} {
    margin-top: 67px;
    margin-bottom: 56px;
  }

  li {
    @include inline-block;
  }
}

.download-links__item {
  @include inline-block;

  margin-right: 30px;
  width: 47px;
  height: 57px;
  font-size: 0;
  color: inherit;
  background-repeat: no-repeat;

  &--apple {
    background-image: url('../img/logo-apple.svg');
    background-position: 0 0;
  }

  &--android {
    background-image: url('../img/logo-android.svg');
    background-position: 4px 8px;
  }

  &--windows {
    margin-right: 0;
    background-image: url('../img/logo-microsoft.svg');
    background-position: 0 11px;
  }
}
