.download-links {
  margin: {
    top: 30px;
    bottom: 28px;
  }
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    @include font(0);

    display: inline-block;
    margin-right: 34px;
    width: 47px;
    height: 57px;
    color: inherit;

    &--apple {
      background-image: url('../img/logo-apple.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--android {
      background-image: url('../img/logo-android.svg');
      background-repeat: no-repeat;
      background-position: 0 9px;
    }

    &--windows {
      margin-right: 0;
      background-image: url('../img/logo-microsoft.svg');
      background-repeat: no-repeat;
      background-position: 0 11px;
    }
  }
}

@media (min-width: 700px) {
  .download-links {
    margin: {
      top: 45px;
      bottom: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .download-links {
    margin: {
      top: 65px;
      bottom: 60px;
    }
  }
}
