.download-block {
  box-sizing: border-box;
  padding: 26px 0;
  padding-bottom: 22px;
  min-width: 320px;
  background-color: $download-bg-color;
  text-align: center;

  @media #{$tablet} {
    @include centering;

    box-sizing: border-box;
    position: relative;
    margin-top: -619px;
    padding:0;
    padding-top: 94px;
    height: 619px;
    background-color: transparent;
    z-index: 10;
  }

  @media #{$desktop} {
    margin-top: -745px;
    margin-bottom: 0;
    padding-top: 110px;
    height: 745px;
  }

  h2 {
    display: none;

    @media #{$tablet} {
      display: block;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0 50px;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
      color: $white;
    }

    @media #{$desktop} {
      padding: 0;
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 300;
    color: $white;

    @media #{$tablet} {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}

.download-block__wrapper {
  @include centering;

  @media #{$tablet} {
    width: 300px;
    margin-left: 0;
  }
}
