.gallery {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  line-height: 30px;
  text-align: center;
}

.gallery__slogan {
  @include centering;
  box-sizing: border-box;
  padding: 48px 15px;

  @media #{$tablet} {
    padding: 0 90px;
    padding-top: 94px;
    padding-bottom: 74px;
    font-size: 18px;
  }

  @media #{$desktop} {
    padding-left: 185px;
    padding-right: 185px;
    padding-bottom: 84px;
  }
}

.gallery__list {
  @include centering;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;

  &--panorama {
    position: relative;

    &::before {
      content: 'Панорама дня';
      position: absolute;
      top: 0;
      right: 6%;
      padding: 6px 20px;
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
      color: $white;
      text-transform: uppercase;
      background-color: #d22856;
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
  }

  @media #{$tablet} {
    @include inline-block;
    width: 300px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &--panorama {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;

      &::before {
        top: 60px;
      }
    }
  }

  @media #{$desktop} {
    margin-bottom: 34px;

    &--panorama {
      margin: 0;
      margin-bottom: 10px;

      &::before {
        top: 55px;
        right: 11%;
      }
    }
  }
}

.gallery__image {
  margin: 0;
  font-size: 0;
  line-height: 0;

  img {
    margin: 0;
    font-size: 0;
    line-height: 0;
    width: 280px;
    height: 180px;

    @media #{$tablet} {
      width: 300px;
      height: 300px;
    }

    @media #{$desktop} {
      width: 300px;
      height: 400px;
    }

  }

  &--panorama {
    img {
      width: 100%;
      height: 137px;

      @media #{$tablet} {
        width: 100%;
        height: 508px;
      }

      @media #{$desktop} {
        width: 100%;
        height: 508px;
      }
    }
  }
}
