.gallery {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  line-height: 30px;
  text-align: center;
}

.gallery__slogan {
  @include centering;
  box-sizing: border-box;
  padding: 0 15px;
  padding-top: 44px;
  padding-bottom: 50px;

  @media #{$tablet} {
    padding: 0 80px;
    padding-top: 94px;
    padding-bottom: 76px;
    font-size: 18px;
  }

  @media #{$desktop} {
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 84px;
  }
}

.gallery__list {
  @include centering;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
  }

  li {
    @media #{$desktop} {
      margin-right: 20px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  margin: 0 auto;
  width: 280px;

  @media #{$tablet} {
    @include inline-block;

    margin: 0;
    width: 300px;
  }

  @media #{$desktop} {
    margin-bottom: 34px;
  }

  &--panorama {
    position: relative;
    margin: 0;
    width: 100%;

    @media #{$tablet} {
      width: 100%;
      margin-bottom: 12px;
    }

    @media #{$desktop} {
      margin-bottom: 12px;
    }

    &::before {
      content: 'Панорама дня';
      position: absolute;
      top: 0;
      right: 6%;
      padding: 6px 20px;
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
      color: $white;
      text-transform: uppercase;
      background-color: #d22856;
      background-repeat: no-repeat;
      background-position: 50% 0;

      @media #{$tablet} {
        top: 56px;
      }

      @media #{$desktop} {
        right: 11%;
      }
    }
  }
}

.gallery__image {
  display: block;
  margin: 0;
  font-size: 0;
  line-height: 0;

  img {
    margin: 0;
    font-size: 0;
    line-height: 0;
    width: 280px;
    height: 180px;

    @media #{$tablet} {
      width: 300px;
      height: 300px;
    }

    @media #{$desktop} {
      width: 300px;
      height: 400px;
    }

  }

  &--panorama {
    img {
      line-height: 0;
      width: 100%;
      height: 137px;

      @media #{$tablet} {
        width: 100%;
        height: 508px;
      }

      @media #{$desktop} {
        width: 100%;
        height: 508px;
      }
    }
  }
}
