.logo {
  @include inline-block;

  padding: 22px 0;
  padding-bottom: 25px;
  font-size: 0;
  line-height: 0;

  &--header {
    svg {
      fill: $white;
    }

    @media #{$only-mobile-and-tablet} {
      &:hover svg {
        fill: $pink;
      }

      &:active svg {
        fill: $white;
        opacity: 0.3;
      }
    }
  }

  &--footer {
    padding: 0;
    svg {
      fill: $gray-font-color;
    }

    @media #{$only-mobile-and-tablet} {
      &:hover svg {
        fill: $pink;
      }

      &:active svg {
        fill: $gray-font-color;
        opacity: 0.3;
      }
    }
  }

  @media #{$tablet} {
    padding-top: 26px;
    padding-bottom: 42px;

    &--footer {
      margin-top: 30px;
      margin-bottom: auto;
      padding: 0 ;
    }
  }

  @media #{$desktop} {
    padding-top: 28px;
    padding-bottom: 40px;

    &--footer {
      padding: 0;
    }
  }
}

.logo__image {
  margin: 0;
  padding: 0;

  &--header {
    width: 75px;
    height: 23px;

    @media #{$tablet} {
      width: 146.3px;
      height: 40.4px;
    }
  }

  &--footer {
    width: 146.3px;
    height: 40.4px;
  }
}

.logo__pink {
  &--header-mobile {
    display: inline;

    @media #{$tablet} {
      display: none;
    }
  }

  &--header {
    display: none;

    @media #{$tablet} {
      display: inline;
    }
  }
}

.logo__glasses {
  &--header-tablet {
    display: none;

    @media #{$tablet} {
      display: inline;
    }

    @media #{$desktop} {
      display: none;
    }
  }

  &--header-desktop {
    display: none;

    @media #{$desktop} {
      display: inline;
      fill: $white;
    }
  }

  &--footer-mobile{
    display: inline;

    @media #{$desktop} {
      display: none;
    }
  }

  &--footer-desktop {
    display: inline;

    @media #{$only-mobile-and-tablet} {
      display: none;
    }
  }
}

.logo__stars {
  &--footer {
    display: none;

    @media #{$desktop} {
      display: inline;
    }
  }

  &--header{
    display: none;

    @media #{$desktop} {
      display: inline;
      fill: $pink;
    }
  }
}


