.main-header {
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
  background: {
    color: $menuopen-bg-color;
    image: url('../img/bg-back-mobile@1x.jpg');
    repeat: no-repeat;
    position: 50% 100%;
  }
}

.main-header__main-page {
  min-height: 462px;
  padding-bottom: 392px;
  background: {
    image:
      url('../img/iphone-hand-mobile@1x.png'),
      url('../img/bg-back-mobile@1x.jpg');
    repeat: no-repeat;
    position: 0 100%, 50% 100%;
  }
}

.main-header h1 {
  @include font(24px, normal, 300, $white);
  @include centering();

  padding: {
    top: 20px;
    bottom: 80px;
  }
  text-align: center;
}

@media (min-width: 700px) {
  .main-header {
    background-position: 50% 50%;
    background-size: cover;
  }

  .main-header__main-page {
    min-height: 728px;
    background: {
      size: 60%, auto 765px;
      position: 70% 100%, 50% 100%;
    }
  }

  .main-header h1 {
    font-size: 50px;
    line-height: 60px;
    padding: {
      top: 70px;
      bottom: 140px;
    }
  }
}

@media (min-width: 1200px) {
  .main-header {
  }

  .main-header__main-page {
    min-height: 856px;
    background: {
      size: auto 645px, auto 1386px;
      position: 60% 100%, 50% 50%;
    }
  }

  .main-header h1 {
    box-sizing: border-box;
    padding: 160px {
      top: 70px;
      bottom: 98px;
    }
  }
}
