.main-header {
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
  background-color: $menuopen-bg-color;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;

  @media (min-width: 320px) and #{$retina} {
    background-image: url('../img/bg-back-mobile@2x.jpg');
  }

  @media #{$tablet} {
    background-image: url('../img/bg-back-tablet@1x.jpg');

    @media #{$retina} {
      background-image: url('../img/bg-back-tablet@2x.jpg');
    }
  }

  @media #{$desktop} {
    background-image: url('../img/bg-back-desktop@1x.jpg');
  }

  &--open {
    @media #{$only-mobile} {
      background-position: 50% 326px;
    }
  }

  h1 {
    @include centering;

    box-sizing: border-box;
    min-height: 142px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: $white;

    @media #{$tablet} {
      padding: 0 40px;
      padding-top: 70px;
      min-height: 330px;
      font-size: 50px;
      line-height: 60px;
    }

    @media #{$desktop} {
      padding: 60px;
      padding-top: 64px;
      min-height: 284px;
    }
  }
}

.main-header__main-page {
  min-height: 462px;
  padding-bottom: 392px;
  background-image:
      url('../img/iphone-hand-mobile@1x.png'),
      url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 0 100%, 50% 100%;
  background-size: 258px 286px, cover;

  @media (min-width: 320px) and #{$retina} {
    background-image:
      url('../img/iphone-hand-mobile@2x.png'),
      url('../img/bg-back-mobile@2x.jpg');
  }

  @media #{$tablet} {
    min-height: 728px;
    background-image:
        url('../img/iphone-hand-tablet@1x.png'),
        url('../img/bg-back-tablet@1x.jpg');
    background-position: 70% 100%, 50% 0%;
    background-size: 700px 545px, cover;

    @media #{$retina} {
      background-image:
        url('../img/iphone-hand-tablet@2x.png'),
        url('../img/bg-back-tablet@2x.jpg');
    }
  }

  @media #{$desktop} {
    min-height: 854px;
    background-image:
        url('../img/iphone-hand-desktop@1x.png'),
        url('../img/bg-back-desktop@1x.jpg');
    background-position: calc(50% + 75px) 100%, 50% 50%;
    background-size: 1050px 645px, cover;

    @media #{$retina} {
      background-image:
        url('../img/iphone-hand-desktop@2x.png'),
        url('../img/bg-back-desktop@1x.jpg');
    }
  }
}
