.price {
  padding-top: 92px;
  padding-bottom: 32px;
  min-width: 320px;
  background-color: $stripe-bg-color;

  @media #{$tablet} {
    padding-bottom: 68px;
  }

  @media #{$desktop} {
    padding-top: 128px;
    padding-bottom: 92px;
  }
}

.price__slider {
  overflow-x: hidden;

  @media #{$tablet} {
    overflow-x: none;
  }
}

.price__slider-toggles {
  @media #{$tablet} {
    display: none;
  }
}

.price__table {
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: $gray-font-color;
  border-collapse: collapse;

  @media #{$tablet} {
    @include centering;

    margin-bottom: 0;
  }

  thead {
    font-size: 18px;
    color: $white;
    background-color: $thead-bg-color;
  }

  td {
    @media #{$desktop} {
      box-sizing: border-box;
      width: 25%;
    }
  }
}

.price__plan {
  padding: 17px 23px;
  font-size: 18px;
  text-align: center;
  border: 2px solid $thead-bg-color;

  @media #{$tablet} {
    box-sizing: border-box;
    padding: 8px 30px;
    width: 25%;
    font-size: 16px;
  }

  @media #{$desktop} {
    padding: 16px 60px;
    font-size: 18px;
  }

  &--none {
    border-top-color: $stripe-bg-color ;
    border-left-color: $stripe-bg-color;
    border-bottom-color: $table-border-color;
    background-color: $stripe-bg-color;
  }

  &--base {
    border-right-color: $table-border-color;
  }

  &--standart {
    border-left-color: $table-border-color;
    border-right-color: $table-border-color;
  }

  &--hit {
    position: relative;
    overflow: hidden;

    &::before {
      content: 'хит';
      position: absolute;
      top: 10px;
      left: -30px;
      width: 100px;
      height: 28px;
      font-size: 14px;
      font-weight: bold;
      line-height: 28px;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      background-color: #d22856;
      transform: rotate(-45deg);

      @media #{$tablet} {
        top: 5px;
        left: -32px;
      }

      @media #{$desktop} {
        top: 10px;
        left: -38px;
        width: 120px;
      }
    }
  }
}

.price__plan-name {
  font-size: 18px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: 16px;
  }

  @media #{$desktop} {
    font-size: 18px;
  }
}

.price__plan-price {
  font-size: 24px;
  font-weight: 300;
  color: $white;

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$desktop} {
    font-size: 24px;
  }
}

.price__feature {
  position: relative;
  padding: 14px 20px;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid $table-border-color;
  background-color: $white;

  @media #{$only-mobile} {
    padding-right: 16px;
  }

  @media #{$tablet} {
    padding: 7px 15px;
    text-align: center;

    &--none {
      text-align: left;
    }
  }

  @media #{$desktop} {
    padding: 14px 20px;
    font-size: 18px;
  }
}

.price__feature-name {
  @media #{$tablet} {
    display: none;

    .price__feature--none & {
      @include inline-block;
      text-transform: none;
    }
  }
}

.price__feature-status {
  @include inline-block;
  vertical-align: middle;
  font-size: 0;

  &--on {
    width: 27px;
    height: 12px;
    border: 3px solid #3dc644;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }

  &--off {
    position: relative;
    width: 1px;
    height: 1px;
    transform: rotate(45deg);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 35px;
      background-color: #f25b26;
    }

    &::after {
      content: '';
      position: absolute;
      top: 16px;
      left: -16px;
      width: 35px;
      height: 3px;
      background-color: #f25b26;
    }
  }

  @media #{$only-mobile} {
    float: right;
  }

  @media #{$tablet} {
    vertical-align: top;

    &--off {
      left: 6px;
    }
  }
}

.price__table-raw {
  @media #{$only-mobile} {
    & td[class*="--none"] {
      display: none;
    }

    &--slide-1 td[class*="--standart"],
    &--slide-1 td[class*="--unlim"]
    {
      padding: 10px;

      span,
      b
      {
        display: none;
      }
    }

    &--slide-1 td[class*="--base"] {
      width: 100%;
    }

    &--slide-2 td[class*="--base"],
    &--slide-2 td[class*="--unlim"]
    {
      padding: 10px;

      span,
      b
      {
        display: none;
      }
    }

    &--slide-2 td[class*="--standart"] {
      width: 100%;
    }

    &--slide-3 td[class*="--standart"],
    &--slide-3 td[class*="--base"]
    {
      padding: 10px;

      span,
      b
      {
        display: none;
      }
    }

    &--slide-3 td[class*="--unlim"] {
      width: 100%;
    }
  }
}


