.price {
  padding-top: 88px;
  padding-bottom: 46px;
  min-width: 320px;
  background-color: $stripe-bg-color;
}

.price__slider {
  overflow-x: hidden;
}

.price__table {
  margin-bottom: 40px;
  border-collapse: collapse;
}

.price__table thead {
  @include font($fsize: 18px, $lheight: 30px, $fcolor: $white);

  background-color: $thead-bg-color;
}

.price__plan {
  @include font(18px, 30px);

  padding: 18px 23px;
  text-align: center;
  border: 2px solid $thead-bg-color;

  &--none {
    border-top-color: $stripe-bg-color ;
    border-left-color: $stripe-bg-color;
    border-bottom-color: $table-border-color;
    background-color: $stripe-bg-color;
  }

  &--base {
    border-right-color: $table-border-color;
  }

  &--standart {
    border-left-color: $table-border-color;
    border-right-color: $table-border-color;
  }

  &--hit {
    position: relative;
    overflow-x: hidden;

    &::before {
      @include font($lheight: 30px, $fweight: bold, $fcolor: $white);

      content: 'хит';
      position: absolute;
      top: 5px;
      left: -25px;
      width: 90px;
      height: 30px;
      text-transform: uppercase;
      background-color: #d22856;
      transform: rotate(-45deg);
    }
  }
}

.price__plan-name {
  @include font(18px, 30px, bold, $white);

  text-transform: uppercase;
}

.price__plan-price {
  @include font(24px, 30px, 300, $white);
}

.price__feature {
  @include font($lheight: 30px);

  position: relative;
  padding: 18px 23px;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid $table-border-color;
  background-color: $white;
}

.price__feature-status {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  &--on {
    width: 27px;
    height: 12px;
    border: {
      width: 3px;
      style: solid;
      color: #3dc644;
      top: none;
      right: none;
    }
    transform: rotate(-45deg);
  }

  &--off {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: #f25b26;
    transform: rotate(45deg);

    &::before {
      content: '';
      position: absolute;
      top: -17.5px;
      left: calc(50% - 1.5px);
      width: 3px;
      height: 35px;
      background-color: #f25b26;
    }
  }
}

@media (max-width: 699px) {

  .price__feature-status {
    float: right;
    margin: 10px 0;
  }

  .price__table-raw td[class*="--none"] {
    display: none;
  }

  .price__table-raw--slide-1 td[class*="--standart"],
  .price__table-raw--slide-1 td[class*="--unlim"]
  {
    padding: 10px;

    span, b {
      display: none;
    }
  }

  .price__table-raw--slide-1 td[class*="--base"] {
    width: 100%;
  }

  .price__table-raw--slide-2 td[class*="--base"],
  .price__table-raw--slide-2 td[class*="--unlim"]
  {
    padding: 10px;

    span, b {
      display: none;
    }
  }

  .price__table-raw--slide-2 td[class*="--standart"] {
    width: 100%;
  }

  .price__table-raw--slide-3 td[class*="--standart"],
  .price__table-raw--slide-3 td[class*="--base"]
  {
    padding: 10px;

    span, b {
      display: none;
    }
  }

  .price__table-raw--slide-3 td[class*="--unlim"] {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .price {
    padding-bottom: 68px;
  }

  .price__slider {
    overflow-x: none;
  }

  .price__table {
    @include centering();

    margin-bottom: 0;
  }

  .price__plan {
    font-size: 16px;
    padding: 12px 30px;
  }

  .price__plan-name {
    font-size: 16px;
  }

  .price__plan-price {
    font-size: 18px;
  }

  .price__feature {
    padding: 10px 17px;
    text-align: center;

    &--none {
      text-align: left;
    }
  }

  .price__feature-name {
    display: none;
  }

  .price__feature--none .price__feature-name {
    display: inline-block;
    text-transform: none;
  }
}

@media (min-width: 1200px) {
  .price {
    padding-top: 148px;
    padding-bottom: 92px;
  }

  .price__plan {
    font-size: 18px;
    padding: 16px 60px;
  }

  .price__plan-name {
    font-size: 18px;
  }

  .price__plan-price {
    font-size: 24px;
  }

  .price__feature {
    padding: 16px 22px;
    font-size: 18px;
  }
}
