.research {
  display: none;

  @media #{$tablet} {
    display: block;
    background-color: $white;
  }

  @media #{$desktop} {
    background-color: $stripe-bg-color;
  }
}

.research__wrapper {
  @include centering;
}

.research__item {
  position: relative;
  padding: 95px 0px;
  padding-left: 310px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: $gray-font-color;

  @media #{$desktop} {
    padding: 110px 10px;
    padding-top: 92px;
    padding-left: 365px;
    font-size: 18px;
    line-height: 30px;
  }

  &:before {
    content: '24';
    position: absolute;
    top: calc(50% - 142px);
    left: 0;
    width: 240px;
    height: 276px;
    font-size: 96px;
    font-weight: bold;
    line-height: 300px;
    color: $pink;
    text-align: center;
    background-image:
      url("../img/icon-editor-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 200px auto, cover;
    background-position: 20px 58px, 0% 0%;

    @media #{$desktop} {
      top: calc(50% - 206px);
      width: 298px;
      height: 346px;
      font-size: 120px;
      line-height: 380px;
      background-size: 253px auto, cover;
      background-position: 22px 71px, 0% 0%;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 12px;
    padding-right: 100px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: $black;

    @media #{$desktop} {
      margin: 0;
      margin-bottom: 24px;
      line-height: 30px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 10px;

    @media #{$desktop} {
      margin-bottom: 30px;
    }
  }

  a {
    margin: 0;
    color: $pink;

    @media #{$desktop} {
      margin-bottom: 15px;
    }
  }
}
