.review {
  position: relative;
  padding-bottom: 28px;
  min-width: 320px;
  background-color: $white;

  @media #{$tablet} {
    padding-bottom: 4px;
  }

  @media #{$desktop} {
    padding-bottom: 62px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 28px;
    background: linear-gradient(to bottom right, $white 50%, transparent 50%);

    @media #{$tablet} {
      height: 56px;
    }

    @media #{$desktop} {
      height: 74px;
    }
  }
}

.review__wrapper {
  @include centering;
}

.review__list {
  @media #{$desktop} {
    padding: 0 120px;
  }
}

.review__item {
  margin: 0;
  padding: 42px 0;
  padding-bottom: 35px;
  line-height: 30px;
  text-align: center;

  @media #{$tablet} {
    position: relative;
    margin-bottom: 36px;
    padding-top: 30px;
    padding-bottom: 96px;
    font-size: 18px;
  }

  @media #{$desktop} {
    margin: 0;
    padding-top: 190px;
    padding-bottom: 96px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }
}

.review__author-name {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  font-style: normal;
  color: $black;

  @media #{$tablet} {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0;
    font-size: 20px;
    transform: translateX(-50%);
  }

  @media #{$desktop} {
    font-size: 24px;
  }
}

.review__author-describe {
  display: none;
  margin: 0;
  line-height: 30px;

  @media #{$tablet} {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }

  @media #{$desktop} {
    font-size: 18px;
  }
}

.review__content {
  margin: 0;
  padding-top: 10px;
  line-height: 30px;

  @media #{$tablet} {
    padding-top: 0;
    font-size: inherit;
  }
}
