.slider {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__toggles {
  text-align: center;

  @media #{$desktop} {
    display: none;
  }
}

.slider__toggle {
  @include inline-block;

  margin-right: 10px;
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 50%;
  background-clip: padding-box;
  background-origin: padding-box;
  border: 3px solid transparent;
  background-color: rgba($gray-font-color, 0.3);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba($gray-font-color, 0.6);
  }

  &:active {
    background-color: rgba($gray-font-color, 0.1);
  }

  .slider__input:checked + &,
  .slider__input:checked + &:hover,
  .slider__input:checked + &:active
  {
    background-color: $white;
    border-color: $gray-font-color;
  }
}

.slider__arrow {

  display: none;

  @media #{$desktop} {
    border: 0;
    background: transparent;
    padding: 0;

    position: absolute;
    top: 63%;
    display: block;
    width: 27px;
    height: 27px;
    border: 2px solid rgba($gray-font-color, 0.3);
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer;

    &--left {
      left: 4px;
      border-top: none;
      border-right: none;
    }

    &--right {
      right: 4px;
      border-left: none;
      border-bottom: none;
    }

    &--left,
    &--right
    {
      &:hover {
        border-color: rgba($gray-font-color, 0.6);
      }

      &:active {
        border-color: rgba($gray-font-color, 0.1);
      }
    }
  }
}

