.slider {
  position: relative;
}

.slider__inputs {
  display: none;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 50%;
  background-clip: padding-box;
  background-origin: padding-box;
  border: 3px solid transparent;
  background-color: rgba($gray-font-color, 0.3);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba($gray-font-color, 0.6);
  }

  &:active {
    background-color: rgba($gray-font-color, 0.1);
  }

  &--checked,
  &--checked:hover,
  &--checked:active
  {
    background-color: $white;
    border: 3px solid $gray-font-color;
  }
}

@media (min-width: 1200px) {
  .slider__arrow {
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    border: 2px solid rgba($gray-font-color, 0.3);
    cursor: pointer;

    &--left {
      top: 50%;
      left: 0;
      border-top: none;
      border-right: none;
      transform: translateY(-50%) rotate(45deg);
    }

    &--right {
      top: 50%;
      right: 0;
      border-left: none;
      border-bottom: none;
      transform: translateY(-50%) rotate(45deg);
    }

    &--left,
    &--right
    {
      &:hover {
        border-color: rgba($gray-font-color, 0.6);
      }

      &:active {
        border-color: rgba($gray-font-color, 0.1);
      }
    }
  }

  .slider__toggles {
    display: none;
  }
}
