.social {
  @media #{$tablet} {
    margin-left: 74px;
    margin-right: auto;
  }

  @media #{$desktop} {
    margin: 0;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__list li {
  @include inline-block;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.social__item {
  @include inline-block;
  width: 45px;
  height: 45px;
  font-size: 0;
  border-radius: 50%;
  border: 3px solid rgba($gray-font-color, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    border-color: $gray-font-color;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba($gray-font-color, 0.4);
  }

  &--twitter {
    background-image: url(../img/icon-twitter.svg);
  }

  &--fb {
    background-image: url(../img/icon-facebook.svg);
  }

  &--youtube {
    background-image: url(../img/icon-youtube.svg);
  }
}
