.social {
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;

  &::last-child {
    margin-right: 0;
  }
}

.social__item {
  @include font(0);

  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid rgba($gray-font-color, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--twitter {
    background-image: url(../img/icon-twitter.svg);
  }

  &--fb {
    background-image: url(../img/icon-facebook.svg);
  }

  &--youtube {
    background-image: url(../img/icon-youtube.svg);
  }
}

