.upload-block {
  min-width: 320px;
  line-height: 30px;
  text-align: center;

  @media #{$tablet} {
    margin-bottom: 6px;
  }

  @media #{$desktop} {
    margin-bottom: 70px;
  }
}

.upload-block__slogan {
  @include centering;

  padding: 0 10px;
  padding-top: 18px;
  padding-bottom: 42px;

  @media #{$tablet} {
    padding-top: 46px;
    padding-bottom: 68px;
    font-size: 18px;
  }

  @media #{$desktop} {
    padding-top: 0;
  }
}

.upload-block__form {
  background-color: $stripe-bg-color;

  @media #{$tablet} {
    padding-top: 58px;
    padding-bottom: 52px;
  }
}

.upload-block__wrapper {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    @include centering;
    @include clearfix;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    height: 401px;
  }

  @media #{$desktop} {
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 0;
  }
}

.upload-block__promo {
  padding-top: 20px;
  padding-bottom: 38px;
  line-height: 0;

  @media #{$only-mobile} {
    @include centering;
  }

  @media #{$tablet} {
    float: left;
    padding: 0;
    width: 300px;
  }

  img {
    width: 280px;
    height: 375px;

    @media #{$tablet} {
      width: 100%;
      height: auto;
    }
  }
}

.upload-block__filters {
  @media #{$tablet} {
    float: right;
//    clear: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    margin-bottom: auto;
    width: 274px;
  }

  @media #{$desktop} {
    width: 410px;
  }
}

.upload-block__btns {
  padding-top: 37px;
  padding-bottom: 40px;

  @media #{$only-mobile} {
    @include centering;
  }

  @media #{$tablet} {
    float: right;
//    clear: right;
    box-sizing: border-box;
    padding: 0;
    padding-right: 12px;
    width: 274px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
  }
}
